<p id="notice"><%= notice %></p>

<div class="container">

  <h1 class="material-pink">Consultar Livros</h1>

  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

  <br>

  <ul class="card-list">
    <% @books.each do |book| %>
      <li class="card-panel">
        <a class="card-box">
          <div class="card-header">
            <i class="small material-icons">book</i>
          </div>
          <strong><%= book.author %></strong>
          <h3><%= book.title %></h3>
        </a>
      </li>
    <% end %>
  </ul>

</div>
